@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Orbitron:wght@400..900&family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
} */
body {
  background-color: #f5f7fa;
  font-family: "Noto Sans KR", sans-serif;
}
.detail-wrap{
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
/* 뒤로가기 */
.back-btn{
    margin-bottom: 30px;
    font-size: 14px;
    color: #555;
}
/* 프로필 */
.detail-profile{
    text-align: center;
    margin-bottom: 30px;
}
.detail-profile img{
    width: 120px;
    border-radius: 50%;
}
.detail-profile h1{
    font-size: 20px;
}
.detail-profile p{
    font-size: 12px;
    color: #888;
}
/* 카드 박스 */
.detail-box{
    margin-bottom: 20px;
}
.detail-box h2{
    font-size: 16px;
    margin-bottom: 10px;
    border-left: 4px solid #7592fc;
    padding-left: 10px;
}
.detail-box p, .detail-box li{
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}
.detail-box ul{
    padding-left: 25px;
}